/* color scheme vars */

$primary-color-dk:      #669900; 
$primary-color-lt:      #99FF33;
$primary-color-md:      #CCCC00;
$ll-shlw-color-dk:      #e3e4ea; 
$ll-shlw-color-lt:      #eeeeee; 
$ll-dp-color-dk:        #28282e;
$ll-dp-color-lt:        #393a42;

/* heading vars */

$h-default-color: #555;
$h-hl-color: #fff;

//default sizes 

$h1-font-size: 2em;
$h2-font-size: 1.8em;
$h3-font-size: 1.6em;
$h4-font-size: 1.4em;
$h5-font-size: 1.2em;
$h6-font-size: 1.1em;

//regular sizes

$p-font-size: 1em;

/* font faces */

$type-font: 'Open Sans', sans-serif;
$heading-default-font: 'Open Sans', sans-serif;
$em-type: 'Open Sans', sans-serif; 
$slim-font: 'Open Sans', sans-serif;
$slick-font: caviar_dreams;
$handw-font: daniel;
